stages:
  - deploy

default:
  image: openjdk:11.0.16-jdk-buster
  services:
    - docker:dind
  tags:
    - $GITLAB_CI_RUNNER_AMD
  before_script:
    - apt-get update && apt-get install -y --no-install-recommends gnupg curl jq # Install gnupg, curl, and jq
    - sh ./gradlew clean --stacktrace --info # Clean before every build

deploy:release:
  stage: deploy
  script:
    - export ORG_GRADLE_PROJECT_version="${CI_COMMIT_TAG/v}" # Removes 'v' prefix from tag
    - sed -i "0,/SDK_VERSION_PLACEHOLDER/s//${ORG_GRADLE_PROJECT_version}/" ./src/main/java/com/scayle/adminapi/http/HttpClient.java
    - export ORG_GRADLE_PROJECT_signingKey
    - export ORG_GRADLE_PROJECT_signingKeyId
    - export ORG_GRADLE_PROJECT_signingPassword

    - sh ./gradlew build zipPublicationBundle -x test --stacktrace --info
    - ls -lh "${CI_PROJECT_DIR}/build/publications/mavenJava"
    - ls -lh "${CI_PROJECT_DIR}/build/publisher-bundles"
    - ARTIFACT_NAME="AdminAPI"
    - BUNDLE_ZIP_PATH="${CI_PROJECT_DIR}/build/publisher-bundles/${ARTIFACT_NAME}-${ORG_GRADLE_PROJECT_version}-bundle.zip"
    - echo "Bundle ZIP Path:${BUNDLE_ZIP_PATH}"
    - "curl --request POST --verbose --header \"Authorization: Bearer ${SONATYPE_API_TOKEN}\" --form bundle=@${BUNDLE_ZIP_PATH} https://central.sonatype.com/api/v1/publisher/upload"
  only:
    - tags
  when: manual
